.sidebar {
    width: 200px;
    background-color: #f3f3f3;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar-logo {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    
}

.sidebar-nav li {
    margin: 15px 0;
    cursor: pointer;
}